./augmetnation1.zip
augmentation1.zip
invol2refvol.mat
N4biascorrected_bet_05.nii.gz
outvol_final.nii.gz
outvol.nii.gz
provaN4biascorrected.nii.gz
sub-OAS30010_ses-d0068_T1w_1.nii.gz
OASIS_BRAIN_1/prova_bias_corrected_T1w.nii.gz
OASIS_BRAIN_1/prova_N4_2.nii.gz
OASIS_BRAIN_1/prova_N4_03.nii.gz
OASIS_BRAIN_1/prova_N4_05.nii.gz
OASIS_BRAIN_1/prova_N4_06.nii.gz
OASIS_BRAIN_1/prova_N4_05045.nii.gz
OASIS_BRAIN_1/prova2__T1w.nii.gz
OASIS_BRAIN_1/prova_N4.nii.gz
OASIS_BRAIN_1/prova_T1w.nii.gz
OASIS_BRAIN_1/prova4__T1w.nii.gz
OASIS_BRAIN_1/prova3__T1w.nii.gz
OASIS_BRAIN_1/prova_N4_0503.nii.gz
prove_BET/outvol_bet_05.nii.gz
OASIS_BRAIN_1/provaFSLpy.nii.gz
OASIS_BRAIN_1/prova_N4_0505.nii.gz
testing/__pycache__/helpers.cpython-310.pyc
testing/outfolder/output_MNI_mask.nii.gz
OASIS_BRAIN_1/prova_N4_0504.nii.gz
